// Default colors setting, could be change if different library is used
// Materials and other lib with gradient should not be added here (create _gradient.scss)$primary: #7cbdae;
$error: red;
$grey: #666666;
$grey-2: #CCD3D1;
$grey-3: #DBE0DF;
$grey-4: #F0F2F1;
$grey-5: #F9FAF9;
$white: #FFFFFF;
$black: #000000;
$black-1: #333333;
$pastel-red: #FF7A7A;