// Font sizes - Should keep font size at rem (due to safari and other browsers don't have similar scales)
$fontSizeLG: 1.25rem;
$fontSize: 1rem;
$fontSizeSM: 0.875rem;

// Font weights
$fontWeight: 400;
$formWeightSemiBold: 600;
$fontWeightBold: 700;